# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [4]:
import pandas as pd 
import numpy as np
import random as rand

In [18]:
Data_frame = pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns=['A','B','C','D'])
print(Data_frame)

Data_frame.set_index('A', inplace=True)
print(Data_frame)

    A   B   C   D
0  79  79  36  36
1  96  16  62  58
2  38  81  41  49
3  65  12   3  85
4  82  73  51  29
5  49  29  34  10
     B   C   D
A
79  79  36  36
96  16  62  58
38  81  41  49
65  12   3  85
82  73  51  29
49  29  34  10


2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [22]:
df = pd.DataFrame(np.random.randint(1,100,size=(3,3)), columns=['A','B','C'], index=['X','Y','Z'])
print(df)

    A   B   C
X  39  85  50
Y  47  10  60
Z   6  41  39


### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [23]:
ds = pd.DataFrame(np.random.randint(1,100,size=(5,3)), columns=['A','B','C'])
print(f"Original Data:\n{ds}")

ds['D'] = ds['A'] * ds['B']
print(f"updated Data:\n{ds}")

Original Data:
    A   B   C
0  26  16  77
1   3  16  44
2  46  97  15
3  94  25  94
4  12  66  65
updated Data:
    A   B   C     D
0  26  16  77   416
1   3  16  44    48
2  46  97  15  4462
3  94  25  94  2350
4  12  66  65   792



2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [24]:
ds = pd.DataFrame(np.random.randint(1,100,size=(4,3)), columns=['A','B','C'])
print(f"Original Data:\n{ds}")

row_add = np.sum(ds, axis=1)
column_add = np.sum(ds, axis=0)

print(f"Row wise addition:\n{row_add}\nColum wise Addition:\n{column_add}")

Original Data:
    A   B   C
0   9  12  89
1  27   1  12
2  44  67  30
3  86   9  80
Row wise addition:
0    110
1     40
2    141
3    175
dtype: int64
Colum wise Addition:
A    166
B     89
C    211
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [43]:
ds =pd.DataFrame(np.random.randint(1,100,size=(5,3)), columns=['A','B','C'])
print(f"Orginall Data:\n{df}")

df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan

print(ds)

ds.fillna(ds.mean(),inplace=True)
print(ds)

# # Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
# df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
# print("Original DataFrame:")
# print(df)

# # Introduce some NaN values
# df.iloc[0, 1] = np.nan
# df.iloc[2, 2] = np.nan
# df.iloc[4, 0] = np.nan
# print("DataFrame with NaN values:")
# print(df)

# # Fill the NaN values with the mean of the respective columns
# df.fillna(df.mean(), inplace=True)
# print("DataFrame with NaN values filled:")
# print(df)

Orginall Data:
       A      B     C
0  96.00  44.75  66.0
1  51.00  97.00  58.0
2  82.00  74.00  65.5
3  82.00   1.00  81.0
4  77.75   7.00  57.0
    A   B   C
0  45  69  83
1  92  45  55
2  69  20  28
3  26  93  10
4  58  92  40
    A   B   C
0  45  69  83
1  92  45  55
2  69  20  28
3  26  93  10
4  58  92  40

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [51]:
df =pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns=['A','B','C','D'])
print(f"Original Data Frame:\n{df}")

df.iloc[0,2]= np.nan
df.iloc[3,2]= np.nan
df.iloc[1,3]= np.nan

print(f"Data Frame with Nan Values:\n{df}")

df.dropna(inplace=True)
print(f"Drop Table with Nan Values:\n{df}")

Original Data Frame:
    A   B   C   D
0  83  38  28  66
1  72  91  87  82
2  26  21  96  89
3  53  99  76  47
4  87  90  49  64
5   2  59  38  90
Data Frame with Nan Values:
    A   B     C     D
0  83  38   NaN  66.0
1  72  91  87.0   NaN
2  26  21  96.0  89.0
3  53  99   NaN  47.0
4  87  90  49.0  64.0
5   2  59  38.0  90.0
Drop Table with Nan Values:
    A   B     C     D
2  26  21  96.0  89.0
4  87  90  49.0  64.0
5   2  59  38.0  90.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [58]:
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print(f"Data Frame: \n{df}")

grouped = df.groupby('Category')['Value'].agg(['sum','mean'])
print(grouped)

Data Frame:
  Category  Value
0        B     67
1        B     62
2        C     80
3        C     44
4        C     35
5        B     94
6        A     87
7        C     31
8        B     10
9        B     16
          sum  mean
Category
A          87  87.0
B         249  49.8
C         190  47.5


2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [ ]:
ds = pd.DataFrame({'Product':np.random.choice(['PROD1','PROD2','PROD3'],size=10),'Category': np.random.choice(['A','B','C'],size=10),'Sales' : np.random.randint(1,11,size=10)})
print(ds)
grouped = ds.groupby('Category')['Sales'].sum()
print(grouped)

  Product Category  Sales
0   PROD1        B      7
1   PROD1        B      3
2   PROD3        C      2
3   PROD1        B      1
4   PROD1        A     10
5   PROD2        A      7
6   PROD2        A      5
7   PROD3        B      4
8   PROD3        A      8
9   PROD3        C      6