# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [8]:
import pandas as pd 
import numpy as np
import random as rand

In [9]:
Data_frame = pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns=['A','B','C','D'])
print(Data_frame)

Data_frame.set_index('A', inplace=True)
print(Data_frame)

    A   B   C   D
0  76   9  56  80
1  47  86  58  45
2  60  62  15  21
3  60  74  94  46
4  16  74  47  81
5  41  21  76  71
     B   C   D
A
76   9  56  80
47  86  58  45
60  62  15  21
60  74  94  46
16  74  47  81
41  21  76  71


2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [10]:
df = pd.DataFrame(np.random.randint(1,100,size=(3,3)), columns=['A','B','C'], index=['X','Y','Z'])
print(df)

    A   B   C
X  69  43  96
Y  45  76  10
Z  11   8  39


### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [11]:
ds = pd.DataFrame(np.random.randint(1,100,size=(5,3)), columns=['A','B','C'])
print(f"Original Data:\n{ds}")

ds['D'] = ds['A'] * ds['B']
print(f"updated Data:\n{ds}")

Original Data:
    A   B   C
0  91  78  84
1  85  44  32
2   7  29  78
3   2  95  32
4  54  68  99
updated Data:
    A   B   C     D
0  91  78  84  7098
1  85  44  32  3740
2   7  29  78   203
3   2  95  32   190
4  54  68  99  3672



2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [12]:
ds = pd.DataFrame(np.random.randint(1,100,size=(4,3)), columns=['A','B','C'])
print(f"Original Data:\n{ds}")

row_add = np.sum(ds, axis=1)
column_add = np.sum(ds, axis=0)

print(f"Row wise addition:\n{row_add}\nColum wise Addition:\n{column_add}")

Original Data:
    A   B   C
0  99  63  65
1  72  34  48
2  74  20  24
3  31  82  73
Row wise addition:
0    227
1    154
2    118
3    186
dtype: int64
Colum wise Addition:
A    276
B    199
C    210
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [13]:
ds =pd.DataFrame(np.random.randint(1,100,size=(5,3)), columns=['A','B','C'])
print(f"Orginall Data:\n{df}")

df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan

print(ds)

ds.fillna(ds.mean(),inplace=True)
print(ds)

# # Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
# df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
# print("Original DataFrame:")
# print(df)

# # Introduce some NaN values
# df.iloc[0, 1] = np.nan
# df.iloc[2, 2] = np.nan
# df.iloc[4, 0] = np.nan
# print("DataFrame with NaN values:")
# print(df)

# # Fill the NaN values with the mean of the respective columns
# df.fillna(df.mean(), inplace=True)
# print("DataFrame with NaN values filled:")
# print(df)

Orginall Data:
    A   B   C
X  69  43  96
Y  45  76  10
Z  11   8  39

IndexError: iloc cannot enlarge its target object

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [ ]:
df =pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns=['A','B','C','D'])
print(f"Original Data Frame:\n{df}")

df.iloc[0,2]= np.nan
df.iloc[3,2]= np.nan
df.iloc[1,3]= np.nan

print(f"Data Frame with Nan Values:\n{df}")

df.dropna(inplace=True)
print(f"Drop Table with Nan Values:\n{df}")

Original Data Frame:
    A   B   C   D
0  83  38  28  66
1  72  91  87  82
2  26  21  96  89
3  53  99  76  47
4  87  90  49  64
5   2  59  38  90
Data Frame with Nan Values:
    A   B     C     D
0  83  38   NaN  66.0
1  72  91  87.0   NaN
2  26  21  96.0  89.0
3  53  99   NaN  47.0
4  87  90  49.0  64.0
5   2  59  38.0  90.0
Drop Table with Nan Values:
    A   B     C     D
2  26  21  96.0  89.0
4  87  90  49.0  64.0
5   2  59  38.0  90.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [ ]:
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print(f"Data Frame: \n{df}")

grouped = df.groupby('Category')['Value'].agg(['sum','mean'])
print(grouped)

Data Frame:
  Category  Value
0        B     67
1        B     62
2        C     80
3        C     44
4        C     35
5        B     94
6        A     87
7        C     31
8        B     10
9        B     16
          sum  mean
Category
A          87  87.0
B         249  49.8
C         190  47.5


2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [14]:
import pandas as pd

In [19]:
ds = pd.DataFrame({'Product':np.random.choice(['PROD1','PROD2','PROD3'],size=10),'Category': np.random.choice(['A','B','C'],size=10),'Sales' : np.random.randint(1,10000,size=10)})
print(ds)
grouped = ds.groupby('Category')['Sales'].sum()
print(grouped)

  Product Category  Sales
0   PROD1        A   9899
1   PROD1        C   6582
2   PROD1        C    988
3   PROD1        C   3857
4   PROD2        B   2554
5   PROD1        B   3403
6   PROD3        C   6619
7   PROD1        B   1521
8   PROD2        C   7088
9   PROD1        C   1381
Category
A     9899
B     7478
C    26515
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [24]:
data1 = pd.DataFrame({'Keys':np.random.choice(['A','B','B','D'],size=10), 'Value':np.random.randint(1,1000,size=10)})
data2 = pd.DataFrame({'Keys':np.random.choice(['A','B','B','D'],size=10), 'Value':np.random.randint(1,1000,size=10)})
print(f"Data 1:\n{data1},\nData2:\n{data2}")

merge = pd.merge(data1,data2,on='Keys')
print(merge)

Data 1:
  Keys  Value
0    A    680
1    B    462
2    B    749
3    B    535
4    D    831
5    A    137
6    B    413
7    D     13
8    D     49
9    B    904,
Data2:
  Keys  Value
0    B     76
1    B    158
2    B     58
3    D    704
4    B     73
5    A    413
6    D    993
7    A    144
8    A    739
9    B    415
   Keys  Value_x  Value_y
0     A      680      413
1     A      680      144
2     A      680      739
3     B      462       76
4     B      462      158
5     B      462       58
6     B      462       73
7     B      462      415
8     B      749       76
9     B      749      158
10    B      749       58
11    B      749       73
12    B      749      415
13    B      535       76
14    B      535      158
15    B      535       58
16    B      535       73
17    B      535      415
18    D      831      704
19    D      831      993
20    A      137      413
21    A      137      144
22    A      137      739
23    B      413       76
24    B      413      158
25    B      413       58
26    B      413       73
27    B      413      415
28    D       13      704
29    D       13      993
30    D       49      704
31    D       49      993
32    B      904       76
33    B      904      158
34    B      904       58
35    B      904       73
36    B      904      415


2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [25]:
# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  71  66
1  33  25
2  26  24
DataFrame 2:
    C   D
0  41  52
1  16  52
2  93  18
Concatenated DataFrame (rows):
      A     B     C     D
0  71.0  66.0   NaN   NaN
1  33.0  25.0   NaN   NaN
2  26.0  24.0   NaN   NaN
0   NaN   NaN  41.0  52.0
1   NaN   NaN  16.0  52.0
2   NaN   NaN  93.0  18.0
Concatenated DataFrame (columns):
    A   B   C   D
0  71  66  41  52
1  33  25  16  52
2  26  24  93  18

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [42]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    28
2022-01-02    73
2022-01-03    17
2022-01-04    17
2022-01-05    42
...          ...
2022-12-27    50
2022-12-28    52
2022-12-29    64
2022-12-30    85
2022-12-31    58

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2022-01-31  40.903226
2022-02-28  56.464286
2022-03-31  54.129032
2022-04-30  46.766667
2022-05-31  47.548387
2022-06-30  47.733333
2022-07-31  51.322581
2022-08-31  53.290323
2022-09-30  51.333333
2022-10-31  48.516129
2022-11-30  39.666667
2022-12-31  52.548387

C:\Users\behli\AppData\Local\Temp\ipykernel_1712\994453891.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [49]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    66
2021-01-02    42
2021-01-03    40
2021-01-04    28
2021-01-05    19
...          ...
2021-12-27    96
2021-12-28    44
2021-12-29    54
2021-12-30    79
2021-12-31     3

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  72.142857
2021-12-28  68.000000
2021-12-29  73.571429
2021-12-30  79.428571
2021-12-31  65.857143

[365 rows x 1 columns]