# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [2]:
import sqlite3

In [2]:
def create_database():
    conn = sqlite3.connect('Amaan.db')
    conn
create_database()

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [3]:
def create_table():
    conn =sqlite3.connect('Amaan.db')
    cursor = conn.cursor()
    cursor.execute('''
            CREATE TABLE IF NOT EXISTS Employee(
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT
            )
    ''')
    conn.commit()
    conn.close()
    print("Employee Table Craeted Successfully")
create_table()

Employee Table Craeted Successfully

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [4]:
def add_employee(id,name,age,departement):
    conn =sqlite3.connect('Amaan.db')
    cursor=conn.cursor()
    cursor.execute('''
        INSERT INTO Employee(id,name,age,department)
        VALUES(?,?,?,?)
    ''',(id,name,age,departement))
    conn.commit()
    conn.close()
    print("Employee Added successfully")
add_employee(1,'Zaid',22,'Data Analyst')

Employee Added successfully

In [5]:
add_employee(2,'Amaan',21,'Ml Engnieer')
add_employee(3,'Zakwn',22,'Editor')
add_employee(4,'Zaid',22,'Amul')
add_employee(5,'Arman',22,'Studying')

Employee Added successfully
Employee Added successfully
Employee Added successfully
Employee Added successfully

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [ ]:
def print_all():
    conn = sqlite3.connect('Amaan.db')
    cursor=conn.cursor()
    cursor.execute('SELECT * FROM Employee')
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)
print_all()

(1, 'Zaid', 22, 'Data Analyst')
(2, 'Amaan', 21, 'Ml Engnieer')
(3, 'Zakwn', 22, 'Editor')
(4, 'Zaid', 22, 'Amul')
(5, 'Arman', 22, 'Studying')

2. Write a Python function to fetch and display all employees from a specific department.

In [18]:
def select_from_department(department):
    conn = sqlite3.connect('Amaan.db')
    cursor=conn.cursor()
    cursor.execute('SELECT * FROM Employee WHERE department=?',(department,))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)
        print("Fetch Successfully")
select_from_department('Amul')

(4, 'Zaid', 22, 'Amul')
Fetch Successfully

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [29]:
def update_department(id,new_department):
    conn = sqlite3.connect('Amaan.db')
    cursor = conn.cursor()
    cursor.execute('''
        UPDATE Employee
        SET department = ?
        WHERE id = ?
    ''',(new_department,id))
    conn.commit()
    conn.close()
update_department(3,'Bussiness')

In [31]:
print_all()

(1, 'Zaid', 22, 'Data Analyst')
(2, 'Amaan', 21, 'Ml Engnieer')
(3, 'Zakwn', 22, 'Bussiness')
(4, 'Zaid', 22, 'Amul')
(5, 'Arman', 22, 'Studying')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [35]:
def del_employee(id):
    conn = sqlite3.connect('Amaan.db')
    cursor = conn.cursor()
    cursor.execute('''
        DELETE FROM Employee
        WHERE id = ?
    ''',(id,))
    conn.commit()
    conn.close()
    print("employe deleted scuccefully")

del_employee(4)
print_all()

employe deleted scuccefully
(1, 'Zaid', 22, 'Data Analyst')
(2, 'Amaan', 21, 'Ml Engnieer')
(3, 'Zakwn', 22, 'Bussiness')
(5, 'Arman', 22, 'Studying')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [36]:
def fetch_on_certain_age(age):
    conn = sqlite3.connect('Amaan.db')
    cursor = conn.cursor()
    cursor.execute('SELECT* FROM Employee WHERE age > ?',(age,))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)
fetch_on_certain_age(21)

(1, 'Zaid', 22, 'Data Analyst')
(3, 'Zakwn', 22, 'Bussiness')
(5, 'Arman', 22, 'Studying')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [5]:
def adding_multiple_data(employees):
    conn = sqlite3.connect('Amaan.db')
    cursor = conn.cursor()
    cursor.executemany('''
        INSERT INTO Employee(id,name,age,department)
        VALUES(?,?,?,?)
    ''',employees)
    conn.commit
    conn.close()
    print("Data Added Successfully")
employees = [
    (10, 'Rohan', 27, 'IT'),
    (11, 'Joe', 25, 'HR'),
    (12, 'Messi', 37, 'Sports'),
    (13, 'Ronaldo', 47, 'Sports')
]

adding_multiple_data(employees)

Data Added Successfully