# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tupl = tuple(range(1,11))
print(tupl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [7]:
tupl = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(tupl)
print(f"The first Element is : {tupl[0]}")
print(f"The Middle Element is : {len(tupl)//2}")
print(f"The last Element is : {tupl[-1]}")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
The first Element is : 1
The Middle Element is : 5
The last Element is : 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [14]:
tupl = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(f"The first Three Element are : {tupl[0:3]}")
print(f"The last Three Element are : {tupl[-4:-1]}")
print(f"The Elemet from index 2 to 5 are : {tupl[2:5]}")

The first Three Element are : (1, 2, 3)
The last Three Element are : (7, 8, 9)
The Elemet from index 2 to 5 are : (3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [17]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Matrix: ")
for row in matrix: 
    print(row)
print(f"The element in the second row and third column are : {matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
The element in the second row and third column are : 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [19]:
tupl_1 = (1, 2, 3)
tupl_2 = (4, 5, 6)

Concatenate_tuple = tupl_1 + tupl_2
print(f"The concatenate tuple are: {Concatenate_tuple}")

The concatenate tuple are: (1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [ ]:
tupl = (4, 13, 19, 14, 14, 1, 13, 18, 13, 9, 19, 3, 18, 13, 9)

occurence = tupl.count(14)
print(occurence)
print(tupl.index(14))

2
3

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [25]:
Tupl_ele = ("Amaan", 21, "ALML")
Name , age, Course = Tupl_ele
print(Name, age, Course)
print(Tupl_ele)

Amaan 21 ALML
('Amaan', 21, 'ALML')

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [27]:
lst = [1, 2, 3, 4, 5]

tpl = tuple(lst)

print(tpl,type(tpl))

(1, 2, 3, 4, 5) <class 'tuple'>

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [28]:
tupl = (
    ("amaan", 3.14, 77),
    ("aftab", 636, 89),
    ("zaid", 737, 7)
)
for row in tupl:
    print(row)

('amaan', 3.14, 77)
('aftab', 636, 89)
('zaid', 737, 7)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [30]:
tupl = (44, 55, 23, 54, 62)

lst_tupl = list(tupl)

print(lst_tupl.append(6))
tupl_lst = tuple(lst_tupl)
print(f"the tuple with 5 integers: {tupl}")
print(f"The Tuple converted to list with adding 6 at the end : {lst_tupl}")
print(f"The resulting Tuple is : {tupl_lst}")

None
the tuple with 5 integers: (44, 55, 23, 54, 62)
The Tuple converted to list with adding 6 at the end : [44, 55, 23, 54, 62, 6]
The resulting Tuple is : (44, 55, 23, 54, 62, 6)


### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [ ]:
tup_1 = "Amaan"
tup_2 = " Behlim"

new_tup = tup_1 + tup_2 
print(new_tup)

hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [35]:
student = {
    ('name', 'Amaan'): 77,
    ('name', 'Zaid'): 66,
    ('name', 'Aftab'): 43
}

print(student)

{('name', 'Amaan'): 77, ('name', 'Zaid'): 66, ('name', 'Aftab'): 43}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [ ]:
tupl = (
    ("amaan", 3.14, 77),
    ("aftab", 636, 89),
    ("zaid", 737, 7)
)

for row in tupl:
    for elem in row:
        print(elem)

amaan
3.14
77
aftab
636
89
zaid
737
7

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [40]:
tupl = (4, 13, 19, 14, 14, 1, 13, 18, 13, 9, 19, 3, 18, 13, 9)
print(f"The tuple with duplicate elements: {tupl}")

set_tup = set(tupl)
print(f"Tuple converted to set : {set_tup}")

The tuple with duplicate elements: (4, 13, 19, 14, 14, 1, 13, 18, 13, 9, 19, 3, 18, 13, 9)
Tuple converted to set : {1, 3, 4, 9, 13, 14, 18, 19}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [47]:
def min_tuple(tupl):
    return min(tupl)
def max_tuple(tupl):
    return max(tupl)
def avg_tuple(tupl):
    return sum(tupl)

tupl = (12, 45, 7, 89, 23, 56, 3, 78, 91, 14, 67, 29, 5, 88, 32, 41, 73, 19, 60, 27)
# max_tuple = max(tupl)
print(f"Maximun is: {max_tuple(tupl)} \n Minimum is : {min_tuple(tupl)} \n Sum of Tuple is : {sum(tupl)}")

Maximun is: 91
 Minimum is : 3
 Sum of Tuple is : 859