# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [ ]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [30]:
print(set_1.add(11))
print(set_1)
print(set_1.pop())
print(set_1)

None
{1, 2, 3, 6, 11, 14}
1
{2, 3, 6, 11, 14}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [12]:
set_1 = {1,2,3,6,14}
set_2 = {6,8,10,12,14}

print(set_1.union(set_2))
print(set_1.intersection(set_2))
print(set_1.difference(set_2))
print(set_1.symmetric_difference(set_2))

{1, 2, 3, 6, 8, 10, 12, 14}
{6, 14}
{1, 2, 3}
{1, 2, 3, 8, 10, 12}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [16]:
square = {x**2 for x in range(1,10)}
print(square)
print(sorted(square))

{64, 1, 4, 36, 9, 16, 49, 81, 25}
[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [ ]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_new = {x for x in set_1 if x%2==0 }
print(sorted(set_new))

[2, 4, 6, 8, 10]

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [21]:
s = {10, 20, 30, 20, 40, 10, 50}
print(s)

{50, 20, 40, 10, 30}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [24]:
set1 = {3, 6, 9, 12, 15, 18, 21, 24, 27, 30}
set2 = {10, 20, 30, 40, 50}

print(set2.issubset(set1))
print(set1.issuperset(set2))

False
False

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [28]:
frozen = frozenset([3, 6, 9, 12, 15, 18, 21, 24, 27, 30])
print(frozen)
print(frozen.add(7))

frozenset({3, 6, 9, 12, 15, 18, 21, 24, 27, 30})

AttributeError: 'frozenset' object has no attribute 'add'

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [37]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [43]:
s = {1,2,3,4,5,6,7,8,9,10,11,12,13}
for elem in s:
    print(elem)

1
2
3
4
5
6
7
8
9
10
11
12
13

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [47]:
set_rem = {"Amaan", "Aftab", "Zaid"}
print(set_rem.remove("Amaan"))
print(set_rem)
set_rem.remove("Aftab")
print(set_rem)
set_rem.remove("Zaid")
print(set_rem)

None
{'Zaid', 'Aftab'}
{'Zaid'}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [48]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}


### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [51]:
random_set = {12, 47, 5, 89, 23, 66, 14, 32}
print(30 in random_set)
print(13 in random_set)
print(47 in random_set)

False
False
True


### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [53]:
set_tuple = {
    ("amaan", "Zaid"),
    ("Rohan", "Zakwan"),
    ("Aftab", "Saif")
}
print(set_tuple)

{('amaan', 'Zaid'), ('Rohan', 'Zakwan'), ('Aftab', 'Saif')}

In [5]:
def is_subset(lst1, lst2):
    if set(lst1 ).issubset(set(lst2)):
       return True
    else:
        return False
lst1 = [1, 2, 3]
lst2 = [1, 2, 3, 4, 5]
print(is_subset(lst1, lst2))

True

In [10]:
def sorted_two_list(lst1, lst2):
    merged_list_sorted = sorted(set(lst1).union(set((lst2))))

    return merged_list_sorted
ls1 = [7,2,6,8,3,6,1]
ls2 = [8, 7,4,9,2,4,3]
print(sorted_two_list(ls1, ls2))

[1, 2, 3, 4, 6, 7, 8, 9]