Here are **simple, real-world–style Python data structure questions** that will help you think practically. I am writing them in **clear, simple language** as you prefer.

---

### **Real-World Python Data Structure Questions**

**1.** You get a list of customer names, but some names repeat. How will you remove duplicates and keep only unique names?

**2.** You have a dictionary where keys are product names and values are prices. How will you find the product with the highest price?

**3.** You receive a long text paragraph. How will you count how many times each word appears?

**4.** You have two lists: one has student names, the other has their marks. How will you combine both into one dictionary?

**5.** You have a list of transactions, and each transaction is a dictionary with `amount`, `type`, and `date`. How will you calculate the total amount of only “online” transactions?

**6.** You have a list of employee records, and each record is a dictionary. How will you sort employees based on salary?

**7.** You have a dictionary where each key is a department name and value is a list of employee names. How will you find the department with the maximum number of employees?

**8.** You have sensor data stored in a list, but some values are missing (`None`). How will you remove the missing values?

**9.** You have a list of file names. How will you separate only `.jpg` files?

**10.** You have a string containing an email. How will you extract the username (before “@”)?

**11.** You have a list of numbers. How will you create another list that contains only unique numbers sorted in ascending order?

**12.** You have a dictionary of students where key is roll number and value is name. How will you reverse it so that name becomes key and roll becomes value?

**13.** You get a list of temperatures collected every hour. How will you find the maximum and minimum temperature?

**14.** You have sales data in a list of dictionaries. How will you group the total sales by each month?

**15.** You have two sets: one has the products available in warehouse A, the other in warehouse B. How will you find:

* products available in both
* products only in A
* all unique products

**16.** You have a list of 1 lakh numbers. How will you quickly check if a number exists in that collection?

**17.** You have a nested dictionary representing a JSON response. How will you access a deeply nested value safely without crashing if a key is missing?

**18.** You have a list of employees with their joining year. How will you group employees by joining year?

**19.** You have a dictionary of items and stock count. How will you remove items with zero stock?

**20.** You have a list of tuples representing `(student_name, score)`. How will you convert it into a dictionary and then find the average score?

---

If you want, I can also give you **answers**, **step-by-step explanations**, or **code for each question** in simple terms.

In [3]:
customers = [
    "Amaan", "Zaid", "Amaan", "Riya", "Zara",
    "Riya", "Aman", "Zara", "Kabir", "Aman",
    "Fatima", "Faizan", "Faizan"
]
unique_names= set(customers)
print(unique_names)

{'Kabir', 'Faizan', 'Fatima', 'Aman', 'Zara', 'Riya', 'Amaan', 'Zaid'}

In [11]:
products = {
    "Laptop": 55000,
    "Smartphone": 32000,
    "Headphones": 2500,
    "Monitor": 12000,
    "Keyboard": 1500,
    "Mouse": 700,
    "Smartwatch": 18000,
    "Tablet": 24000
}

high = max(products, key=products.get)
print(high, products[high])

Laptop 55000

In [19]:
words = [
    "Artificial", "intelligence", "is", "growing", "rapidly", "in", "every", "industry",
    "Today,", "companies", "use", "machine", "learning", "models", "to", "predict",
    "customer", "behavior,", "improve", "product", "recommendations,", "detect",
    "fraud,", "and", "automate", "daily", "tasks.", "As", "the", "amount", "of",
    "data", "increases,", "the", "need", "for", "efficient", "data", "structures",
    "and", "powerful", "algorithms", "becomes", "even", "more", "important.",
    "Students", "learning", "Python", "often", "practice", "real-world", "problems",
    "such", "as", "counting", "word", "frequency", "in", "a", "paragraph,", "cleaning",
    "text", "data,", "and", "preparing", "it", "for", "machine", "learning", "models.",
    "This", "helps", "them", "understand", "how", "data", "is", "processed", "in",
    "practical", "applications."
]
count ={}
for word in words:
    if word in count:
        count[word]+=1
    else :
        count[word]= 1
print(count)

{'Artificial': 1, 'intelligence': 1, 'is': 2, 'growing': 1, 'rapidly': 1, 'in': 3, 'every': 1, 'industry': 1, 'Today,': 1, 'companies': 1, 'use': 1, 'machine': 2, 'learning': 3, 'models': 1, 'to': 1, 'predict': 1, 'customer': 1, 'behavior,': 1, 'improve': 1, 'product': 1, 'recommendations,': 1, 'detect': 1, 'fraud,': 1, 'and': 3, 'automate': 1, 'daily': 1, 'tasks.': 1, 'As': 1, 'the': 2, 'amount': 1, 'of': 1, 'data': 3, 'increases,': 1, 'need': 1, 'for': 2, 'efficient': 1, 'structures': 1, 'powerful': 1, 'algorithms': 1, 'becomes': 1, 'even': 1, 'more': 1, 'important.': 1, 'Students': 1, 'Python': 1, 'often': 1, 'practice': 1, 'real-world': 1, 'problems': 1, 'such': 1, 'as': 1, 'counting': 1, 'word': 1, 'frequency': 1, 'a': 1, 'paragraph,': 1, 'cleaning': 1, 'text': 1, 'data,': 1, 'preparing': 1, 'it': 1, 'models.': 1, 'This': 1, 'helps': 1, 'them': 1, 'understand': 1, 'how': 1, 'processed': 1, 'practical': 1, 'applications.': 1}

In [ ]:
names = ["Amaan", "Zaid", "Riya", "Kabir", "Fatima", "Aman", "Zara"]
marks = [88, 76, 92, 67, 81, 73, 95]

student_marks = dict(zip(names,marks)) #zip is used to connect one list with other
print(student_marks)

{'Amaan': 88, 'Zaid': 76, 'Riya': 92, 'Kabir': 67, 'Fatima': 81, 'Aman': 73, 'Zara': 95}

In [26]:
transactions = [
    {"amount": 1200, "type": "online",  "date": "2025-01-03"},
    {"amount": 450,  "type": "offline", "date": "2025-01-04"},
    {"amount": 999,  "type": "online",  "date": "2025-01-05"},
    {"amount": 3000, "type": "offline", "date": "2025-01-06"},
    {"amount": 750,  "type": "online",  "date": "2025-01-07"},
    {"amount": 1800, "type": "online",  "date": "2025-01-08"},
    {"amount": 640,  "type": "offline", "date": "2025-01-09"}
]
total_online = 0
for t in transactions:
    if t["type"] == "online":
        total_online += t["amount"]
print(total_online)

4749

In [ ]:
employees = [
    {"name": "Amaan", "role": "Developer", "salary": 55000},
    {"name": "Zaid", "role": "Data Analyst", "salary": 48000},
    {"name": "Riya", "role": "Manager", "salary": 72000},
    {"name": "Kabir", "role": "Intern", "salary": 20000},
    {"name": "Fatima", "role": "Designer", "salary": 53000},
    {"name": "Aman", "role": "Developer", "salary": 60000},
    {"name": "Zara", "role": "Team Lead", "salary": 85000}
]

sorted_employee = sorted(employees, key=lambda e:e["salary"])
print(sorted_employee)

None

You have a dictionary where each key is a department name and value is a list of employee names. How will you find the department with the maximum number of employees?

In [31]:
departments = {
    "HR": ["Amaan", "Riya", "Zara","Fatima", "Zaid", "Riya"],
    "Development": ["Aman", "Kabir"],
    "Design": ["Faizan", "Kabir"],
    "Marketing": ["Zaid", "Fatima", "Amaan"]
}
max_employee = max(departments, key=lambda d: len(departments[d]))
print(max_employee)

HR

**8.** You have sensor data stored in a list, but some values are missing (`None`). How will you remove the missing values?

In [34]:
sensor_data = [23.5, 25.1, None, 22.8, 24.0, None, 26.3, 23.9, None, 25.5]

clean_data  = [value for value in sensor_data if value is not None]
print(clean_data)

[23.5, 25.1, 22.8, 24.0, 26.3, 23.9, 25.5]

**9.** You have a list of file names. How will you separate only `.jpg` files?

In [35]:
files = [
    "holiday.jpg", "report.pdf", "profile.png", "image1.jpg",
    "document.docx", "photo.jpg", "notes.txt", "diagram.png"
]
required_file = [f for f in files if f.endswith("jpg")]
print(required_file)

['holiday.jpg', 'image1.jpg', 'photo.jpg']

**10.** You have a string containing an email. How will you extract the username (before “@”)?

In [47]:
email = "itzamaanbehlim@gmail.com"
extract = email.split("@")[0]

    
print(extract)

itzamaanbehlim

**11.** You have a list of numbers. How will you create another list that contains only unique numbers sorted in ascending order?

In [52]:
numbers = [5, 12, 7, 5, 9, 12, 3, 7, 15, 3, 9]
unique= sorted(set(numbers))
print(unique)

[3, 5, 7, 9, 12, 15]

**12.** You have a dictionary of students where key is roll number and value is name. How will you reverse it so that name becomes key and roll becomes value?

In [53]:
students = {
    101: "Amaan",
    102: "Zaid",
    103: "Riya",
    104: "Kabir",
    105: "Fatima"
}
swap= {name: roll for roll, name in students.items()}
print(swap)

{'Amaan': 101, 'Zaid': 102, 'Riya': 103, 'Kabir': 104, 'Fatima': 105}

**13.** You get a list of temperatures collected every hour. How will you find the maximum and minimum temperature?

In [54]:
temperatures = [23.5, 25.1, 22.8, 24.0, 26.3, 23.9, 25.5, 24.7, 22.5, 26.0]
print(max(temperatures))
print(min(temperatures))

26.3
22.5

**14.** You have sales data in a list of dictionaries. How will you group the total sales by each month?

In [55]:
sales_data = [
    {"month": "January", "sales": 1200},
    {"month": "February", "sales": 1500},
    {"month": "January", "sales": 800},
    {"month": "March", "sales": 2000},
    {"month": "February", "sales": 700},
    {"month": "March", "sales": 1200},
    {"month": "January", "sales": 500}
]
total_sales = {}

for entry in sales_data:
    month = entry["month"]
    sales = entry["sales"]
    if month in total_sales:
        total_sales[month] += sales
    else:
        total_sales[month] = sales

print(total_sales)

{'January': 2500, 'February': 2200, 'March': 3200}

You have two sets: one has the products available in warehouse A, the other in warehouse B. How will you find:

* products available in both
* products only in A
* all unique products

In [59]:
warehouse_A = {"Laptop", "Mouse", "Keyboard", "Monitor", "Printer"}
warehouse_B = {"Monitor", "Printer", "Tablet", "Smartphone", "Keyboard"}


print(f"product availablein both : {warehouse_A.intersection(warehouse_B)}")
print(f"product availablein on(ly on a : {warehouse_A.difference(warehouse_B)}")
print(f"Unique product are : {set(warehouse_A.union(warehouse_B))}")

product availablein both : {'Monitor', 'Keyboard', 'Printer'}
product availablein on(ly on a : {'Mouse', 'Laptop'}
Unique product are : {'Mouse', 'Monitor', 'Laptop', 'Keyboard', 'Tablet', 'Smartphone', 'Printer'}

**16.** You have a list of 1 lakh numbers. How will you quickly check if a number exists in that collection?

In [63]:
numbers = [
     1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
     11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
     21, 22, 23, 24, 25, 26, 27, 28, 29, 30,
     31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
     41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
     51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
     61, 62, 63, 64, 65, 66, 67, 68, 69, 70,
     71, 72, 73, 74, 75, 76, 77, 78, 79, 80,
     81, 82, 83, 84, 85, 86, 87, 88, 89, 90,
     91, 92, 93, 94, 95, 96, 97, 98, 99, 100,
     101, 102, 103, 104, 105, 106, 107, 108, 109, 110,
     111, 112, 113, 114, 115, 116, 117, 118, 119, 120,
     121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
     131, 132, 133, 134, 135, 136, 137, 138, 139, 140,
     141, 142, 143, 144, 145, 146, 147, 148, 149, 150,
     151, 152, 153, 154, 155, 156, 157, 158, 159, 160,
     161, 162, 163, 164, 165, 166, 167, 168, 169, 170,
     171, 172, 173, 174, 175, 176, 177, 178, 179, 180,
     181, 182, 183, 184, 185, 186, 187, 188, 189, 190,
     191, 192, 193, 194, 195, 196, 197, 198, 199, 200
]
#to find if 156 exist

num = 700

if num in numbers:
    print(f"The Number {num} exists in list")
else:
    print(f"Not Exists in the list")

Not Exists in the list

**17.** You have a nested dictionary representing a JSON response. How will you access a deeply nested value safely without crashing if a key is missing?

In [66]:
data = {
    "user": {
        "profile": {
            "address": {
                "city": "Mumbai"
            }
        }
    }
}

access = data.get("user",{})\
                .get("profile",{})\
                   .get("address",{})\
                     .get("city",None)
print(access)

Mumbai

**18.** You have a list of employees with their joining year. How will you group employees by joining year?

In [67]:
employees = [
    {"name": "Amaan", "year": 2022},
    {"name": "Zaid", "year": 2023},
    {"name": "Aftab", "year": 2022},
    {"name": "Sara", "year": 2024},
    {"name": "Imran", "year": 2023}
]
grouped = {}

for emp in employees:
    year = emp["year"]
    name = emp["name"]

    if year not in grouped:
        grouped[year] = []
    grouped[year].append(name)

print(grouped)

{2022: ['Amaan', 'Aftab'], 2023: ['Zaid', 'Imran'], 2024: ['Sara']}

**19.** You have a dictionary of items and stock count. How will you remove items with zero stock?

In [69]:
stock = {
    "laptop": 10,
    "mouse": 0,
    "keyboard": 5,
    "monitor": 0,
    "printer": 2
}

clear= {item: qty for item, qty in stock.items() if qty>0}
print(clear)

{'laptop': 10, 'keyboard': 5, 'printer': 2}

**20.** You have a list of tuples representing `(student_name, score)`. How will you convert it into a dictionary and then find the average score?

In [75]:
students = [
    ("Amaan", 85),
    ("Zaid", 78),
    ("Aftab", 90),
    ("Sara", 88),
    ("Imran", 76)
]
student_new = dict(students)
print(student_new,type(student_new))
avg = (sum(student_new.values())/len(student_new.values()))
print(avg)

{'Amaan': 85, 'Zaid': 78, 'Aftab': 90, 'Sara': 88, 'Imran': 76} <class 'dict'>
83.4